body{font-family:"Helvetica Neue","Helvetica","Lucida Grande","Arial","Hiragino Sans GB","Microsoft Yahei","WenQuanYi Micro Hei","sans-serif";}.footer h6,.footer h5{font-size:14px}.footer p,.footer pre,.footer ul,.footer ol,.footer dl,.footer form,.footer hr,.footer table,.footer blockquote{margin-bottom:1.2em}.footer li ul,.footer li ol{margin-bottom:.8em}.site-notice{padding:5px 0;text-align:center;background-color:chocolate}.site-notice a{color:#eee}.site-notice a:hover{color:#fff}.site-notice em{font-style:normal}.site-nav{position:absolute;top:15px;right:30px;z-index:1100}.site-nav a{color:#eee;font-family:Microsoft YaHei;}.site-nav a:hover{color:#fff}.site-nav span{padding:0 6px;color:#fafafa}a{color:#2cc36b;text-decoration:none}a:hover,a:focus{color:#295;text-decoration:underline}a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}.list-group-item{background-color:#ffffff;border:1px solid #ecf0f1;font-size:1.1em;padding:20px 20px 20px 25px}.list-group-item:first-child{border-radius:0}.list-group-item.js-https:before{content:"\f023";position:absolute;left:7px;color:#7DCE9F;font:normal normal normal 14px/1 FontAwesome;margin-top:4px}.navbar-inverse{background-color:transparent;color:#fff}.navbar-inverse{text-align:center}.navbar-inverse .navbar-nav>li>a{color:#fff}.navbar-inverse .navbar-brand{color:#fff;background-color:transparent}.navbar-back{border:0;text-align:left}.navbar-back .btn-back{color:#eee;border-color:#eee;background-color:transparent;position:absolute;left:20px;z-index:999}.navbar-back .btn-back:hover{-webkit-box-shadow:0 0 0 1px #eee;box-shadow:0 0 0 1px #eee}.protocal-notice{margin-top:30px;font-size:12px}.protocal-notice .help-block{display:inline-block;margin-left:2em;color:#666}.protocal-notice a{color:#aaa}.protocal-notice a:hover{color:#333}.protocal-notice .btn-group>.btn{background-image:-webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#eee));background-image:-webkit-linear-gradient(#fcfcfc, #eee);background-image:-o-linear-gradient(#fcfcfc, #eee);background-image:linear-gradient(#fcfcfc, #eee)}.packages-list-container{margin-top:50px}.packages h4{margin:0;font-size:16px;font-weight:bold}@media (max-width:992px){.packages .package-name{margin-bottom:10px}}.packages .package-description{color:#777}.packages .package-extra-info{font-size:12px;color:#aaa}.package-version{position:relative}@media screen and (min-width:768px){.package-version:before{content:'';position:absolute;left:26px;top:5px;width:2px;height:100%;background:#60db94}}.library-url{word-break:break-all;word-wrap:break-word}.copy-buttons{position:absolute;top:0;right:0;padding:19px 20px;background:rgba(0,0,0,0)}#footer{border-top:1px solid #eee;color:#555;padding-top:0px;margin-top:80px}#footer div[class*=footer]{margin-bottom:30px}#footer div[class*=footer] ul>li{margin-bottom:4px}#footer div[class*=col]{padding-left:25px;padding-right:25px}#footer a{color:#555;border-bottom:dotted 1px #777}#footer a:hover{border-bottom:solid 1px #777;text-decoration:none}#footer .copy-right{height:50px;line-height:50px;margin-top:10px;text-align:center}#footer .copy-right>*+*{margin-left:14px}.home-template #footer{background-color:#27AE60;border-top:1px solid #26aa5e;color:#fff}.home-template #footer a{color:#fff;border-bottom:dotted 1px #a9dfbf}.home-template #footer a:hover{color:#fff;border-bottom:solid 1px #fff}.home-template #footer .copy-right{background-color:rgba(51,51,51,0.08)}.home-template #footer .footer-sponsors img{background-color:transparent}#back-to-top{position:fixed;right:10px;bottom:10px;background:rgba(39,174,96,0.6);color:#ffffff;text-align:center;border-radius:2px;z-index:1;display:none}#back-to-top:hover{background:#27AE60}#back-to-top i{width:30px;height:30px;line-height:30px}.site-header{position:relative;text-align:center;background-color:#27AE60;color:#fff;margin-bottom:0}@media screen and (min-width:768px){.site-header h1{font-size:56px;text-shadow:-5px 5px 0 rgba(0,0,0,0.1)}}.site-header p{color:#f4f4f4}.site-header .fa{position:absolute;right:25px;top:10px;color:darkgray;font-size:24px}.site-header .form-group{position:relative;margin-top:40px}.site-header .search{border:2px solid #f2b626;-webkit-box-shadow:none;box-shadow:none;font-size:16px;padding:13px 30px;border-radius:0;height:auto;text-align:center}.site-header .search:focus{border-color:chocolate}.site-header .search+.fa.onX{cursor:pointer}.site-header span{font-size:14px}.package-info{color:#777;padding:15px}.package-info .list-inline{margin-left:-10px}.package-info .list-inline>li{padding-left:10px;padding-right:10px}@media (max-width:767px){.package-info .list-inline>li{display:block}}.package-info,.mostused-packages{border-radius:0;border:none}.package-info ul,.mostused-packages ul{margin-bottom:0}.version-anchor{position:relative;display:inline-block;top:-40px}.mostused-packages ul>li{padding-right:36px}.mostused-packages ul>li:last-child{padding-right:0}.mostused-packages ul>li a{font-size:0;line-height:1;text-decoration:none;-webkit-filter:grayscale(90%);filter:grayscale(90%);opacity:.6}.mostused-packages ul>li a:hover{-webkit-filter:none;opacity:1}.mostused-packages ul>li a img{max-height:32px;vertical-align:bottom}.zero-clipboard{position:relative;display:none}@media (min-width:768px){.zero-clipboard{display:block}}.btn-clipboard{position:absolute;top:-21px;right:-21px;z-index:10;display:block;padding:5px 8px;font-size:12px;color:#767676;cursor:pointer;background-color:#fff;border:1px solid #e1e1e8;border-radius:0 4px 0 4px}.btn-clipboard-code{right:80px}.btn-clipboard-hover{color:#fff;background-color:#27AE60;border-color:#27AE60}@font-face {
  font-family: octicons-link;
  
 }

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
.widget {
	
	position: relative;
	clear: both;
	
	width: auto;
	
	margin-bottom: 2em;
}
	
.widget-header {
	
	position: relative;
	
	height: 40px;
	line-height: 40px;
	
	background: #E9E9E9;
	background:-moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* IE10+ */
	background:linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
	
	
	border: 1px solid #D5D5D5;
	
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	
	-webkit-background-clip: padding-box;
}	
	
	.widget-header h3 {
		
		position: relative;
		top: -10px;
		left: -10px;
		
		display: inline-block;
		margin-right: 3em;
		
		font-size: 14px;
		font-weight: 800;
		color: #555;
		line-height: 18px;
		
		text-shadow: 1px 1px 2px rgba(255,255,255,.5);
	}
	
		.widget-header [class^="icon-"], .widget-header [class*=" icon-"] 
		{
			
			display: inline-block;
			margin-left: 13px;
			margin-right: -2px;
			
			font-size: 16px;
			color: #555;
			vertical-align: middle;
			
			
			
		}




.widget-content {
	padding: 20px 15px 15px;
	
	background: #FFF;
	
	
	border: 1px solid #D5D5D5;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.widget-header+.widget-content {
	border-top: none;
	
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.widget-nopad .widget-content {
	padding: 0;
}

/* Widget Content Clearfix */	
.widget-content:before,
.widget-content:after {
    content:"";
    display:table;
}

.widget-content:after {
    clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.widget-content {
    zoom:1;
}

/* Widget Table */

.widget-table .widget-content {
	padding: 0;
}

.widget-table .table {
	margin-bottom: 0;
	
	border: none;
}

.widget-table .table tr td:first-child {
	border-left: none;
}

.widget-table .table tr th:first-child {
	border-left: none;
}




