<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>

  <connectionStrings>
    <add name="userbase"
    connectionString="Data Source=.\SQLEXPRESS;  
                            AttachDbFilename=|DataDirectory|\userbase.mdf;  
                            Integrated Security=True;  
                            User Instance=True"
                                  providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>