<?xml version="1.0"?>
<configuration>
  
    <configSections>
    <section name="RedisConfig" type="RedisConfigInfo,App_Code.Redis"/>
 </configSections>
<RedisConfig WriteServerList="10.4.3.4:6379" ReadServerList="10.4.3.4:6379" MaxWritePoolSize="60" MaxReadPoolSize="60" AutoStart="true" LocalCacheTime="180" RecordeLog="false"/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>

  <connectionStrings>
    
  <add name="access_con" connectionString="Provider=Microsoft.Jet.Oledb.4.0;data source="/>
  <add name="access_path" connectionString="~/App_Data/Database.mdb"/>
</connectionStrings>
  

  
</configuration>