<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>MyPlayMusic</title>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../css/style.css" />

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css" />


    <!-- Owl Carousel Assets -->
    <link href="../APP/ThirdParty/owl-carousel/owl.carousel.css" rel="stylesheet" />
    <link href="../APP/ThirdParty/owl-carousel/owl.theme.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="../APP/ThirdParty/font-awesome-4.4.0/css/font-awesome.min.css" type="text/css" />

    <!-- jQuery -->
    <script src="../js/jquery-3.1.1.js"></script>

    <!-- Core JavaScript Files -->
    <!--<script src="//wow.techbrood.com/libs/jquery/jquery.min.js"></script>-->
    <script src="../js/bootstrap.min.js"></script>
    <script src="../APP/ThirdParty/owl-carousel/owl.carousel.js"></script>
    <script src="../mystation/dist/APlayer.min.js"></script>
    <script src="../js/vue.js"></script>
</head>
<body>

    <header>
        <!--Top-->
        <nav id="top">
            <div class="container">
                <div class="row nav-img">
                    <div class="col-md-12 col-sm-12">
                        <!--<strong>Welcome to MyMusic!</strong>-->
                        <img src="../images/logo.png" />
                    </div>
                </div>
            </div>
        </nav>

        <!--Navigation-->
        <nav id="menu" class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <span id="heading" class="visible-xs">菜单</span>
                    <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="HtmlPage.html"><i class="fa fa-home"></i> 首页</a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i> 歌曲</a></li>
                        <li><a href="#"><i class="fa fa-list"></i> 专辑</a></li>
                        <li><a href="#"><i class="fa fa-play-circle-head"></i> 歌手</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> 账户</a>
                            <div class="dropdown-menu">
                                <div class="dropdown-inner">
                                    <ul class="list-unstyled">
                                        <li><a href="#">登录</a></li>
                                        <li><a href="#">注册</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--owlCarousel-->
        <div class="header-slide">
            <div id="owl-demo" class="owl-carousel">
                <div class="item">
                    <div class="zoom-container">
                        <div class="zoom-caption">
                            <a href="javascript:void(0);" onclick="album(18918)">
                                <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                            </a>
                            <p>JAY</p>
                        </div>
                        <img src="../images/jay1.jpg" />
                    </div>
                </div>
                <div class="item">
                    <div class="zoom-container">
                        <div class="zoom-caption">
                            <a href="javascript:void(0);" onclick="album(18915)">
                                <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                            </a>
                            <p>范特西</p>
                        </div>
                        <img src="../images/jay2.jpg" />
                    </div>
                </div>
                <div class="item">
                    <div class="zoom-container">
                        <div class="zoom-caption">
                            <a href="javascript:void(0);" onclick="album(18907)">
                                <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                            </a>
                            <p>八度空间</p>
                        </div>
                        <img src="../images/jay3.jpg" />
                    </div>
                </div>
                <div class="item">
                    <div class="zoom-container">
                        <div class="zoom-caption">
                            <a href="javascript:void(0);" onclick="album(18905)">
                                <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                            </a>
                            <p>叶惠美</p>
                        </div>
                        <img src="../images/jay4.jpg" />
                    </div>
                </div>
                <div class="item">
                    <div class="zoom-container">
                        <div class="zoom-caption">
                            <a href="javascript:void(0);" onclick="album(18903)">
                                <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                            </a>
                            <p>七里香</p>
                        </div>
                        <img src="../images/jay5.jpg" />
                    </div>
                </div>
                <div class="item">
                    <div class="zoom-container">
                        <div class="zoom-caption">
                            <a href="javascript:void(0);" onclick="album(18896)">
                                <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                            </a>
                            <p>十一月的萧邦</p>
                        </div>
                        <img src="../images/jay6.jpg" />
                    </div>
                </div>
                <div class="item">
                    <div class="zoom-container">
                        <div class="zoom-caption">
                            <a href="javascript:void(0);" onclick="album(18893)">
                                <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                            </a>
                            <p>依然范特西</p>
                        </div>
                        <img src="../images/jay7.jpg" />
                    </div>
                </div>
                <div class="item">
                    <div class="zoom-container">
                        <div class="zoom-caption">
                            <a href="javascript:void(0);" onclick="album(18886)">
                                <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                            </a>
                            <p>我很忙</p>
                        </div>
                        <img src="../images/jay8.jpg" />
                    </div>
                </div>
                <div class="item">
                    <div class="zoom-container">
                        <div class="zoom-caption">
                            <a href="javascript:void(0);" onclick="album(18877)">
                                <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                            </a>
                            <p>魔杰座</p>
                        </div>
                        <img src="../images/jay9.jpg" />
                    </div>
                </div>
                <div class="item">
                    <div class="zoom-container">
                        <div class="zoom-caption">
                            <a href="javascript:void(0);" onclick="album(18875)">
                                <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                            </a>
                            <p>跨时代</p>
                        </div>
                        <img src="../images/jay10.jpg" />
                    </div>
                </div>
                <div class="item">
                    <div class="zoom-container">
                        <div class="zoom-caption">
                            <a href="javascript:void(0);" onclick="album(18869)">
                                <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                            </a>
                            <p>惊叹号</p>
                        </div>
                        <img src="../images/jay11.jpg" />
                    </div>
                </div>
                <div class="item">
                    <div class="zoom-container">
                        <div class="zoom-caption">
                            <a href="javascript:void(0);" onclick="album(2263029)">
                                <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                            </a>
                            <p>十二新作</p>
                        </div>
                        <img src="../images/jay12.jpg" />
                    </div>
                </div>
                <div class="item">
                    <div class="zoom-container">
                        <div class="zoom-caption">
                            <a href="javascript:void(0);" onclick="album(3084335)">
                                <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                            </a>
                            <p>哎哟，不错哦</p>
                        </div>
                        <img src="../images/jay13.jpg" />
                    </div>
                </div>
                <div class="item">
                    <div class="zoom-container">
                        <div class="zoom-caption">
                            <a href="javascript:void(0);" onclick="album(34720827)">
                                <i class="fa fa-play-circle-o fa-5x" style="color: #fff"></i>
                            </a>
                            <p>周杰伦的床边故事</p>
                        </div>
                        <img src="../images/jay14.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </header>

        <!--Content -->
        <div id="page-content" class="index-page">
            <div class="container">
                <div class="row">
                    <div id="main-content" class="col-md-8">
                        <div class="widget wid-tags">
                            <div class="heading"><h4><i class="fa fa-songlist"></i> 歌曲列表</h4></div>
                        </div>
                        <div id="app">
                            <table class="table table-striped">
                                <tr>
                                    <!--<td><input type="checkbox"></td>-->                                    
                                    <td style="font-weight:bold">歌名</td>
                                    <td style="font-weight:bold">歌手</td>
                                    <td style="font-weight:bold">专辑</td>
                                    <td style="font-weight:bold">
                                        操作
                                        <a href="javascript:void(0);" v-on:click="playall()" style="color:black"><i class="fa fa-play-circle-o" title="全部播放"></i></a>
                                    </td>
                                </tr>
                                <tr v-for="song in songs ">
                                    <!--<td>
                                        <label>
                                            <input type="checkbox" v-bind:value="book.id" v-model="checkedNames">
                                        </label>
                                    </td>-->                                    
                                    <td><a href="javascript:void(0);" v-on:click="sendid(song.id)" style="color:black">{{song.title}}</a></td>
                                    <td>{{song.author}}</td>
                                    <td>{{song.album}}</td>
                                    <td>
                                        <a href="javascript:void(0);" v-on:click="playone(song)" style="color:black"><i class="fa fa-play-circle-o" title="播放"></i></a>
                                        &nbsp;&nbsp;
                                        <a href="javascript:void(0);" v-on:click="delItems(song)" style="color:black"><i class="glyphicon glyphicon-minus" title="删除"></i></a>
                                    </td>
                                </tr>
                                <!--<tr>
                                    <td colspan="5">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">add</button>
                                        <button type="button" class="btn btn-primary" v-on:click="delItems">delete</button>
                                    </td>
                                </tr>-->
                            </table>
                            <!--<p>Checked names: {{ checkedNames }}</p>-->
                            <!-- end modal -->

                        </div>
                    </div>
                    <div id="sidebar" class="col-md-4">
                        <!---- search ---->
                        <div class="widget wid-tags">
                            <div class="heading"><h4><i class="fa fa-search"></i> 搜索</h4></div>
                            <div class="content">
                                <div class="input-group">
                                    <input id="searchname" type="text" class="form-control" style="height:34px;margin:0 0;border:1px solid #ccc" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" onclick="search()"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div class="line"></div>
                        </div>
                        <!---- music play ---->
                        <div class="widget wid-tags">
                            <div class="heading"><h4><i class="fa fa-play-circle-o"></i> 播放</h4></div>
                            <div id="player4" class="aplayer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="top-footer">
                <ul class="footer-social list-inline">
                    <li><a href="#"><span>Copyright © 2016 All Rights Reserved 版权所有，未经授权，禁止转载</span></a></li>
                </ul>
            </div>
        </footer>

    <!-- JS -->
    <script>
    //头部横向滚动条
    $(document).ready(function() {
      $("#owl-demo").owlCarousel({
        autoPlay: 3000,
        items : 5,
        itemsDesktop : [1199,4],
        itemsDesktopSmall : [979,4]
      });

    });

    //滚动至播放器
    function roll() {
        $('html, body').animate({
            scrollTop: $("#page-content").offset().top
        }, 2000);
    }

    //获取url
    function GetQueryString(namea) {
        var reg = new RegExp("(^|&)" + namea + "=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if (r != null) return decodeURIComponent(r[2]); return null;
    }

    //页面初始化，判断url有没有值
    $(document).ready(function () {
        var searchvalue = GetQueryString("value");
        if (searchvalue != null && searchvalue.toString().length > 1) {
            document.getElementById("searchname").value = searchvalue;
            search();
        }
        else {
            $.ajax({
                type: "post",
                url: "../../webservice/MyMusic.ashx",
                dataType: "json",
                data: {
                    s: $("#searchname").val()
                },
                success: function (data) {
                    $.each(data, function (i, item) {
                        if (item.lrc != null) { item.lrc = item.lrc.replace(/\"/g, "'"); }
                    })
                    VueList.songs = data;
                    play(VueList.songs);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        }
    });

    //查询
    function search() {
        $.ajax({
            type: "post",
            url: "../../webservice/MyMusic.ashx",
            dataType: "json",
            data: {
                s: $("#searchname").val()
            },
            success: function (data) {
                $.each(data, function (i, item) {
                    if (item.lrc != null) { item.lrc = item.lrc.replace(/\"/g, "'"); }
                })
                VueList.songs = data;
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    }

    //vue
    var VueList = new Vue({
        el: '#app',
        data: {
            songs: ''
        },
        methods: {
            playone: function (song) {
                play(song);
                roll();
            },
            delItems : function(song) {                
                    for (var j = 0 ; j < this.songs.length ; j++) {
                        var cur_song = this.songs[j];
                        if (cur_song.id == song.id) {
                            this.songs.splice(j, 1);
                        }
                    }
            },
            playall: function () {
                play(VueList.songs);
                roll();
            },
            sendid: function (songid) {
                var url = "MusicPlay.html?songid=" + songid;
                location.href = url
            },
        }
    })

    //播放器
    function play(data) {
        var ap4 = new APlayer({
            element: document.getElementById('player4'),
            narrow: false,
            autoplay: false,
            showlrc: 1,
            mutex: true,
            theme: '#ad7a86',
            mode: 'random',
            music: data
        })
    }

    //搜专辑加载到播放器
    function album(albumid) {
        $.ajax({
            type: "post",
            url: "../../webservice/GetAlbum.ashx",
            dataType: "json",
            data: {
                id: albumid
            },
            success: function (data) {
                $.each(data, function (i, item) {
                    if (item.lrc != null) { item.lrc = item.lrc.replace(/\"/g, "'"); }
                })
                VueList.songs = data;
                play(data);
                roll();
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    }

    </script>    
</body>
</html>
